<div class="row">
  <div class="col-4 p-5">
    <img src={{@item.image}} class="card-img-top border-bottom m-3" alt="...">
  </div>
  <div class="col-1">

  </div>

  <div class="col-7">
    <div class="card-body">
      <div class="row border-bottom pb-3">
        <div class="col-8">
          <h5 class="card-title">{{@item.title}}</h5>
          <p class="card-text">{{@item.description}}</p>
        </div>
        <div class="col-4">
          <label for="">Price</label>
          <label for="">{{@item.price}}</label>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-3 pt-4">
          <BsButton type="button" class="text-center btn btn-success btn-block" @onClick= {{action "addToCart"}} >+</BsButton>
        </div>

        <div class="col-sm-3">
          <label>Update Amount</label>
          <Input class="mt-1 text-center w-100 values" @value={{stocks}} type="text" name="" id="" />
        </div>

        <div class="col-sm-3">
          <label>Current Amount</label>
            <label class="mt-1 text-center w-100 values" type="text" name="" id="">{{@item.amount}}</label>
        </div>

        <div class="col-sm-3 pt-4">
          <BsButton type="button" class="text-center btn btn-danger btn-block" @onClick= {{action "removeFromCart"}}>-</BsButton>
        </div>

        <div class="col-sm-6">
          <BsButton type="button" class="text-center btn btn-success btn-block mt-3" @onClick={{action "update" @item}}>Update</BsButton>
        </div>
        
        <div class="col-sm-6">
          <BsButton type="button" class="text-center btn btn-danger btn-block mt-3" @onClick={{action "takeOff" @item}}>Remove</BsButton>
        </div>
      </div>
    </div>
  </div>
</div>
