
<img src={{@image}} class="card-img-top border-bottom" alt="...">
<div class="card-body">
  <div class="row mb-2">
    <div class="col-7">
      <h6 class="card-title">{{@title}}</h6>
      <p class="card-text">{{@description}}</p>
    </div>

    <div class="col-4">
      <label for="">Price</label>
      <label for="">{{@price}}</label>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <BsButton type="button" class="btn btn-success btn-block" @onClick= {{action "addToCart"}}>+</BsButton>
    </div>

    <div class="col-sm-4">
      <input class="w-100 mt-1 text-center" value={{stocks}} type="text" name="" id="">
    </div>

    <div class="col-sm-4">
      <BsButton type="button" class="btn btn-danger btn-block" @onClick= {{action "removeFromCart"}}>-</BsButton>
    </div>
    
    <div class="col-sm-12">
      <BsButton type="button" class="btn btn-success btn-block mt-3" @onClick= {{action "sendToCart" @item}}>Add To Cart</BsButton>
    </div>
  </div>
</div>
        